body,
p,
h1,
h2,
h3,
cite,
li {
  margin: 0;
}

body {
  color: #4d4f5c;
  font-family: Source Sans Pro, Arial, sans-serif;
}

.all-content {
  padding-left: 75px;
  padding-right: 95px;
}

.row {
  display: flex;
  flex-direction: row;
}

.shadow {
  background-color: white;
  box-shadow: 0px 2px 3px #0000000d;
}

section.holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 100vh; */
}

aside.main-sidebar {
  width: 260px;
  background-color: #43425d;
}

header.aside-header {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  color: white;
  text-align: left;
  font: normal normal bold 15px/21px Source Sans Pro;
  letter-spacing: 3px;
  background-color: #0000001a;
}

aside .main-nav .menu-item {
  position: relative;
  align-items: center;
  cursor: pointer;
  height: 53px;
}

aside .main-nav img {
  margin: 0 11px 0 25px;
}

aside .main-nav a {
  color: white;
  font-size: 15px;
  line-height: 21px;
  text-decoration: none;
}

aside .main-nav .selected {
  background-color: rgba(0, 0, 0, 0.1);
}

aside .main-nav .selected::before {
  position: absolute;
  left: 0;
  content: "";
  width: 5px;
  height: 100%;
  background: #a3a0fb;
}

main {
  width: 100%;
  background-color: #f0f0f7;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #fff;
}

.main-header .search {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.main-header .search input {
  margin-left: 10px;
  width: 250px;
  display: block;
  outline: none;
  border: none;
}

.main-header .search input:focus::placeholder {
  color: transparent;
  transition: all 0.2s ease;
}

.main-header .search img {
  cursor: pointer;
  display: block;
}

.main-header .user-panel {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.main-header .icon-panel img {
  margin-left: 25px;
  cursor: pointer;
}

.main-header .separator {
  margin-left: 17px;
  margin-right: 21px;
  display: block;
  content: "";
  width: 1px;
  height: 28px;
  background: #ebebf2;
}

.main-header .user-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header .user-name .dropdown {
  cursor: pointer;
}

.main-header .user-name span {
  margin-right: 5px;
  font-size: 15px;
  line-height: 25px;
  color: #43425d;
}

.main-header .user-avatar {
  cursor: pointer;
  margin-left: 11px;
}

.overview {
  padding-top: 31px;
}

.overview h2 {
  padding-bottom: 27px;
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
}

.overview .overview-block {
  flex: 1;
  justify-content: space-between;
  margin-left: 30px;
  height: 133px;
}

.overview .overview-block:first-child {
  margin-left: 0;
}

.overview .overview-content {
  padding: 20px;
}

.overview-content .title {
  font-size: 15px;
  line-height: 25px;
  color: #43425d;
  opacity: 0.5;
}

.overview-content .number {
  margin-top: 22px;
  font-size: 25px;
  line-height: 36px;
  font-weight: bold;
}

.overview-content .percent {
  display: flex;
  align-items: center;
}

.overview-content .percent-number {
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  color: #ff4141;
}

.percent.green img {
  transform: rotate(0.5turn);
}

.percent.green .percent-number {
  color: #3cc480;
}

.overview-block .graph {
  margin: 20px;
  display: flex;
  align-self: flex-end;
  width: 112px;
  height: 40px;
}

.blocks-title {
  font-size: 18px;
  line-height: 13px;
  font-weight: normal;
}

.statistics {
  margin-top: 30px;
  height: 439px;
}

.statistics-block .title-and-select {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}

.title-and-select .select {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #d7dae2;
  border-radius: 4px;
}

.title-and-select .select p {
  padding: 8px 19px 6px 12px;
  font-size: 13px;
  line-height: 20px;
}

.title-and-select .select img {
  padding-right: 12px;
}

.referrer-and-map {
  margin-top: 30px;
  justify-content: space-between;
}

.referrer {
  flex: 2;
  margin-right: 30px;
}

.referrer .blocks-title {
  padding-top: 20px;
  padding-left: 20px;
}

.referrer table {
  width: 100%;
  border-collapse: collapse;
}

.referrer-table {
  padding: 18px 20px 0;
}

.referrer table tr {
  height: 50px;
  border-bottom: 1px solid #f1f1f3;
}

.referrer table th:first-child,
.referrer table td:first-child {
  padding-left: 20px;
}

.referrer table th:last-child,
.referrer table td:last-child {
  padding-right: 20px;
  text-align: right;
}

.referrer table th {
  font-size: 13px;
  font-weight: bold;
  color: #a3a6b4;
  text-transform: uppercase;
}

.referrer table .name-row {
  height: 45px;
  text-align: left;
  background-color: #f5f6fa;
  border-bottom: none;
}

.referrer table td,
.referrer a {
  font-size: 13px;
  line-height: 20px;
}

.more {
  display: flex;
  justify-content: center;
}

.show-more {
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 22px;
  display: inline-block;
  color: #3b86ff;
  text-decoration: none;
}

.details-on-map {
  flex: 1;
}

.details-on-map .title-and-list {
  padding: 20px 20px 18px;
  display: flex;
  justify-content: space-between;
}

.title-and-list a {
  font-size: 13px;
  line-height: 20px;
  color: #3b86ff;
  text-decoration: none;
  text-align: center;
}

.details-on-map .map {
  padding: 0 20px 20px;
}

.details-on-map .map img {
  width: auto;
  height: 163px;
}

.details-on-map .map-content {
  margin: 0 20px;
  padding: 21px 0 5px;
  font-size: 13px;
  line-height: 20px;
  border-top: 1px solid #f1f1f3;
}

.details-on-map .country-row {
  margin-bottom: 10px;
  justify-content: space-between;
}

.details-on-map .map-content .country::before {
  margin-right: 8px;
  margin-bottom: 2px;
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border: 3.3px solid #a3a1fb;
  border-radius: 50%;
  background-color: white;
}

.details-on-map .country-row:nth-child(2) .country::before {
  border-color: #50d8bb;
}

.details-on-map .country-row:nth-child(3) .country::before {
  border-color: #ffa167;
}

.details-on-map .country-row:nth-child(4) .country::before {
  border-color: #ff7cc3;
}

.details-on-map .country-row:nth-child(5) .country::before {
  border-color: #81c9ff;
}

.details-on-map .country-row:nth-child(6) .country::before {
  border-color: #ff8474;
}

.details-on-map .map-content .price {
  text-align: right;
}

.products-and-details {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.top-products {
  flex: 2;
  margin-right: 30px;
}

.quick-details {
  flex: 1;
}

.products-and-details .blocks-title {
  padding: 20px 20px 0;
}

.products-and-details table {
  width: 100%;
  border-collapse: collapse;
}

.product-table,
.details-table {
  padding: 18px 20px 0;
}

.product-table table .name-row {
  height: 45px;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  color: #a3a6b4;
  text-align: left;
  text-transform: uppercase;
  background-color: #f5f6fa;
  border-bottom: none;
}

.product-table .name-row th {
  padding-left: 20px;
}

.product-table .name-row .right,
.product-table .price {
  text-align: end;
  padding-right: 35px;
}

.product-table tr {
  height: 82px;
  border-bottom: 1px solid #f1f1f3;
}

.product-table td {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.product-table td img {
  display: inline-block;
  padding-right: 14px;
  vertical-align: middle;
}

.product-table td .stock-div {
  display: flex;
  justify-content: flex-end;
}

.product-table td .stock-item {
  display: flex;
  width: 90px;
  height: 24px;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(105, 228, 166, 0.2);
  border-radius: 14px;
}

.product-table td .stock-item-2 {
  background-color: rgba(255, 114, 133, 0.2);
}

.product-table td .stock-item-3 {
  background-color: rgba(255, 202, 131, 0.2);
}

.product-table td .stock-item-4 {
  background-color: rgba(255, 202, 131, 0.3);
}

.details-table .quick-row {
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f3;
}

.details-table .quick-row .left {
  align-items: center;
}

.details-table .quick-row:first-of-type {
  border-top: 1px solid #f1f1f3;
}

.details-table img {
  margin-right: 10px;
}

.details-table .orders {
  font-size: 15px;
  line-height: 25px;
}

.details-table .status {
  display: flex;
  justify-self: flex-end;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: rgba(77, 79, 92, 0.5);
}
